.left-bar {
  height: 660px;
  background-color: blue;
  margin-top: 60px;
}

.feed {
  height: 1073px;
  /*background-color: orange;*/
  margin-top: 60px;
}

.right-bar {
  height: 570px;
  background-color: green;
  margin-top: 60px;
}

.form-group{
  display: inline-block;
}

.happening {
  display: flex;

}

 .bottom-text {
   width: 506px;
   background-color: white;
   border: 1px;
   border-style: solid;
   border-color: #808080;
   border-radius: 0px 0px 5px 5px;
   font-size: 12px;
 }

 .profile-card {
   margin-top: 70px;
 }

 .trend-box {
   background-color: white;
 }

 .trend-title {
   color:grey;
 }
.topic-list {
  margin-left: -40px;
}

 .topic {
   list-style-type: none;

 }

 .ranking {
   color: grey;
   font-size: 12px;
 }

.img-box {
  width: 506px;
  margin-top: 10px;
  /*margin-left: 20px;*/
  box-sizing: border-box;
  border-radius: 2px;
  background-clip: padding-box;

}
.card .card-image {
  position: relative;
  overflow: hidden;
}
.card-image {
  margin-top: -20px;
}

.dev-logo {

  margin-left:-70px;
  display: inline-block;
}
.user-post {
  margin-left: 60px;

}
.tweet {
  display: flex;
  align-items: flex-start;
}
.tagline {
  margin-top: -10px;
}
.pt-content {
  margin-top: -5px;
  margin-left: 12px;
  /*display: inline-block;*/
}

.card-action {
  color: gray;
}

.user-post {
 margin-top: 8px;

}
