.left-bar {
  height: 660px;
  background-color: blue;
  margin-top: 60px;
}

.feed {
  height: 1073px;
  background-color: orange;
  margin-top: 60px;
}

.right-bar {
  height: 570px;
  background-color: green;
  margin-top: 60px;
}

.form-group{
  display: inline-block;
}

/*.new-form {
  display: inline-block;
}*/

 .bottom-text {
   width: 506px;
   background-color: white;
   border: 1px;
   border-style: solid;
   border-radius: 0px 0px 5px 5px;
   font-size: 12px;
 }
